<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/mailworkflow"
                contextRoot="webapp/mailworkflow">
        </webapp>
    </extension>

    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/mailworkflow-admin"
                contextRoot="webapp/mailworkflow-admin">
        </webapp>
    </extension>
</plugin>
